*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', serif;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 20px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
}

h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.header,
.container-one {
  background-color: #1f2937;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.container-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-one > div {
  border-style: solid;
  border-color: white;
  width: 300px;
  height: 250px;
}

.container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-two > div {
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.blank-box {
  border-style: solid;
  border-color: #3882f6;
  height: 150px;
  width: 150px;
  border-radius: 25px;
}
