*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', serif;
  color: #f9faf8;
  display: flex;
  flex-wrap: wrap;
}

.container-one {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2937;
  flex-direction: column;
  padding: 20px 200px 100px 200px;
  flex: 1;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.header-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.header-bottom > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.awesome-txt {
  font-size: 48px;
  font-weight: 800;
}

.sub-txt-awesome {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up-btn {
  background-color: #3882f6;
  border-style: none;
  margin-top: 10px;
  color: #f9faf8;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  font-weight: bold;
}

.img-place-holder {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-two {
  color: #1f2937;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 80px 80px 80px;
}

.container-two > div {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.random-info {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 50px;
  justify-content: center;
}

.empty-box-container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.empty-box {
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  width: 175px;
  height: 175px;
}

.sub-txt {
  width: 175px;
  color: #1f2937;
  font-size: 18px;
  text-align: center;
}

.container-three {
  color: #1f2937;
  padding: 120px 230px;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.thor {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

.container-four {
  padding: 80px 200px;
}

.container-four > div {
  background-color: #3882f6;
  padding: 40px 80px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.call-to-action {
  font-weight: bold;
}

.btm-btn {
  background-color: #3882f6;
  border-style: solid;
  border-color: #f9faf8;
  color: #f9faf8;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
}

.footer {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
